/* You can add global styles to this file, and also import other style files */
/*Use H1 for headings..
H2 for subheadings.. etc
*/

#wrapper{
    max-width: 100%;
    padding-bottom: 5%;
}

.successMessage{
    text-align: center;
    color: #3E78B2;
}

body {
  background: linear-gradient(-45deg, #ddf5f9, #f3fafaff, #ddf3ef, #f3fafaff);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  
}

p{
    text-align: center;
    justify-self: center;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

html, body { height: 100%; 
    overflow-x: hidden;
}

a:hover {
    color:#92DCE5
}

h1 {font-family: 'Montserrat', sans-serif; 
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 90px;
    color: #3E78B2;
    position: relative;
    left: 10%;
    padding-bottom: 0;
    word-wrap: normal;
    max-width: 90%;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 30px;
    color: #3E78B2;
    white-space: nowrap;
    text-align: center;
}

button {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: bold;
    font-size: 30px;
    padding-left: 5%;
    padding-right: 5%;
    width: 75%;
    padding: 1%;
    background-color: #92DCE5;
    color: #f3fafaff;

    /*
    pretty styling
    */
    appearance: none;
    border-radius: 25px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    text-align: center;

}

button:hover{
    background-color: #bad5d5;
}

body { margin: 0; 
    font-family: 'Montserrat', sans-serif;
    font-weight: medium;
    font-size: 20px;
}

.launch{
    overflow-y: hidden;
    overflow-x: hidden;
}

.launch h1{
    position: fixed;
    top:-40;
    left: 900px;
}
.launch img{
    position:fixed;
    top: -180px;
    left: -100px;
    max-width: 1150;
    max-height: auto;
    z-index: -1;
}


.go-back{
    display: flex;
    position: fixed;
    top:0px;
    left:0px;
    margin:10px;
}

.go-back img{
    max-width: 15%;
    margin: 30px;
}

.go-back img:hover{
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
}

button{
    display: block;
    margin: auto;
}

/*
Component specific styling*/

.left-side-buttons{
    display: grid;
    justify-content: flex-start;
    position:fixed;
    top:45%;
}

.launch-side .left-side-buttons a{
    margin-left: 200%;
    font-size: 50px;
    top: -5%;
}

.left-side-buttons a{
    white-space: nowrap;
    color: #3E78B2;
    background-color: #bad5d5;
    border-radius: 25px;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-left: 300%;
    padding-left: 15%;
    padding-right: 200%;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    text-decoration: none;
    text-transform: capitalize;
    align-self: flex-end;
}

.left-side-buttons button{
    margin-left: 375%;
    padding-left: 10%;
    padding-right: 30%;
    margin-top: 15%;
    margin-bottom: 5%;
    text-align: center;
    background-color: #bad5d5;
}

.left-side-buttons button:hover{
    background-color: #92DCE5;
}

.left-side-buttons a:hover{
    background-color: #92DCE5;
}

.left-side-buttons .left-side-link {
    display: grid;
    justify-content: flex-start;
    margin-top: 5%;
    
}

.left-side-buttons .left-side-link a{
     align-self: flex-end;
     margin-left: 190%;
     white-space: nowrap;
     background-color: #bad5d5;
     box-shadow: none;
     font-family: 'Montserrat', sans-serif;
     font-weight: normal;
     text-transform: uppercase;
     font-size: 30px;
     text-decoration: underline;
   
}

.left-side-buttons .left-side-link a:hover{
    color: #92DCE5;
}

.left-side-buttons button{
    text-align: center;
    padding: 3%;
}
.center-text-form{
   text-align: center;
   padding-top: 0;
   margin:0;
}
.center-text-form input{
    background-color: #bad5d5;
    border-radius: 25px;
    border: none;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: bold;
    font-size: 45px;
    padding-left:15%;
    padding-right:15%;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
}

.center-text-form input::placeholder{
    color:#3E78B2;
    text-align: center;
}

.center-text-form input{
    color: #3E78B2;
    text-align: center;
    text-transform: none;
}

.center-text-form input:focus{
    border: none;
    outline:none;
}

.center-text-form button{
    display: inline-block;
    margin: 5px;
}

.center-text-form a{
    display: inline-block;
    margin-top: 5px;
}

.wide-table{
  overflow-x: auto; 
  width: 100%; 
}

.wide-table ul li .table-cell button{
     width: 110px;
}

ul {
    display: table;
    margin: 30px auto;
    
}

ul h2{
    text-align: center;
}

ul li{
    display: table-row;
    list-style: none;
    border: 1px solid #3E78B2;
    background-color: #bad5d5;
   
}

ul li .table-cell{
    display: table-cell;
    border: 1px solid #3E78B2;
    padding: 10px;
    color:#3E78B2;
  font-size: calc(12px + 0.5vw); /* font scales with viewport */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul li .table-cell button{
    font-size: 15px;
    width: 100px;
    padding-left: 5%;
    padding-right: 5%;
}

form button{
    max-width: 30%;
}

.center-text-form button{
    max-width: 30%;
}


.work-order-side-panel{
    justify-content: flex-start;
    max-width: 35%;
    text-align: center;
}

.work-order-side-panel h2{
    text-align: center;
    white-space: nowrap;
}

.work-order-side-panel select{
    font-family: 'Source Sans 3', sans-serif;
    font-weight: bold;
    font-size: 15px;
    background-color: #92DCE5;
    color: #f3fafaff;

    /*
    pretty styling
    */
    appearance: none;
    border-radius: 10px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    text-align: center;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;   /* Centers items horizontally */
    margin: 10px;
    gap: 10px;             /* Adds consistent spacing between inputs and buttons */
}

form input {
    font-family: 'Source Sans 3', sans-serif;
    color: #3E78B2;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    background-color: #bad5d5;
    width: 40%;
    padding: 5px;
    margin: 10px 0;
    border-radius: 25px;
    box-sizing: border-box;
    border: none;
    box-shadow:  rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
}

form input::placeholder{
    font-family: 'Source Sans 3', sans-serif;
    font-weight: normal;
    color: #3E78B2;
}

form input:focus{
    border:none;
    outline: none;
}

form button {
    margin-top: 10px;
    padding: 12px;
    border-radius: 25px;
    cursor: pointer;

}

a {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 30px;
    color: #3E78B2;
}